@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@600&display=swap");

:root {
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
  --Pink: hsl(322, 100%, 66%);
}

/* || HEADER SECTION */
.header_section {
  background-image: url(../images/bg-hero-desktop.svg);
  background-size: cover;
  background-color: var(--Very-Pale-Cyan);
  min-height: 100vh;
  padding: 4rem;
}

.hero_section {
  padding: 4rem;
}

.hero_btn > .btn {
  background-color: hsl(192, 100%, 9%);
  border: hsl(193, 100%, 96%);
  color: hsl(192, 100%, 9%);
  padding-inline: 3rem;
  padding-block: 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 2rem;
}

.text_box {
  width: 40%;
}

.text_box > h1 {
  font-family: "poppins", sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  margin-top: 9rem;
  margin-bottom: 4rem;
}

.text_box p {
  font-family: "poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: hsl(208, 11%, 55%);
  font-weight: 400;
  margin-bottom: 4rem;
  /* width: 38rem; */
}

.text_box button {
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  padding: 2rem 6rem;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0.25rem 0.125rem 3rem;
  cursor: pointer;
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 40px;
}

.hero_img_box {
  width: 60%;
}

.hero_img_box img {
  height: 55rem;
  /* width: 100%; */
}

/* || Features Section*/

.features_section {
  padding: 8rem;
}

.features_card {
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 3rem;
  gap: 5rem;
}

.features_card img {
  height: 45rem;
}

.features_card p {
  font-size: 1.6rem;
  color: var(--Grayish-Blue);
  text-align: left;
}
